/app/config/parameters.yml
/bin/
/build/
composer.phar
/vendor/
/web/bundles/
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/var/bootstrap.php.cache
phpunit.xml
behat.yml
/node_modules
/npm-debug.log
/src-js/**/*.map
/src-js/**/*.js
