<h2>Builds</h2>

<div class="row">
    <a href="">
        <div class="col-sm-12 list-build success">
            <div class="row">
                <div class="col-sm-2">Success</div>
                <div class="col-sm-3">Fix random bug</div>
                <div class="col-sm-2">Author</div>
                <div class="col-sm-2">20 minutes ago</div>
                <div class="col-sm-2">10 minutes</div>
                <div class="col-sm-1">O</div>
            </div>
        </div>
    </a>
    <div class="col-sm-12 list-build fail">
        <div class="row">
            <div class="col-sm-2">Success</div>
            <div class="col-sm-3">Fix random bug</div>
            <div class="col-sm-2">Author</div>
            <div class="col-sm-2">20 minutes ago</div>
            <div class="col-sm-2">10 minutes</div>
            <div class="col-sm-1">O</div>
        </div>
    </div>
    <a href="">
        <div class="col-sm-12 list-build success">
            <div class="row">
                <div class="col-sm-2">Success</div>
                <div class="col-sm-3">Fix random bug</div>
                <div class="col-sm-2">Author</div>
                <div class="col-sm-2">20 minutes ago</div>
                <div class="col-sm-2">10 minutes</div>
                <div class="col-sm-1">O</div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="col-sm-12 list-build success">
            <div class="row">
                <div class="col-sm-2">Success</div>
                <div class="col-sm-3">Fix random bug</div>
                <div class="col-sm-2">Author</div>
                <div class="col-sm-2">20 minutes ago</div>
                <div class="col-sm-2">10 minutes</div>
                <div class="col-sm-1">O</div>
            </div>
        </div>
    </a>
</div>
